// 腾讯相关软件的窗口规则

window-rule {
    match app-id="^QQ$"
    match title="^图片查看器$"

    open-floating true
}

window-rule {
    match app-id="^wechat$"
    match title="^图片和视频$"

    open-floating true
}

